{% extends 'wishlist/base.html' %}

{% load staticfiles %}

{%block title %}Family List{%endblock%}

{%block nav%}
		 
	{% if user.is_authenticated %}
		
		{%endif%}
       
{%endblock%}






{%block body%}

<div class="container">
	<h2>Update Your information</h2>
	<h4 class='text-danger'>Don't use a shared email if you want to keep your your account secure!</h4>
<form class="form" action="" method="post">
	{% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary"type="submit" value="Update" />
</form>
</div>
{%endblock%}